.header{
    margin-top: 0;
}
/* --Head-1  */
.slogan{
    height: 35px;
    /* background-color: var(--main-color); */
    display: flex;
    background-color: black;
}
.slogan>p{
    color: rgba(255, 254, 254, 0.85);
    margin: auto;
    font-size: 15px;
}

.navgation{
    display: flex;
    justify-content: space-between;
}

.img-logo{
    width: 100%;
    display: flex;
    margin-bottom: 10px;

}
.logo{
    width: 80px;
    margin:20px auto 0 auto;   
}

.navText{
    list-style: none;
    padding-left: 0;
    position: relative;
    margin-top: 50px;
}

.navText-head{
    color: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 0 0 10px;
}

.navText--weigh{
    font-weight: 700;
}

.navText--weigh:hover{
    color: white;
}

.navText--line::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.5px;
    height: 15px;
    background-color: rgb(234, 234, 234, 0.7);
    top: 55%;
    right: 58px;
    transform: translateY(-50%);
}
/* --Head-2  */
.navBar{
    background-color: rgb(255, 255, 255);
    height: 50px;
    position: relative;
    margin-top: 0px;
}

.navList{
    /* margin-left: 230px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navList-style{
    display: flex;
}

.navList-item{
    list-style: none;
    padding: 0 30px 0 0;
    line-height: 10px;
    color: var(--text-color);
}

.navList-item:hover{
    color: black;
    font-weight: 600;
    transition: 0.15s ease;
}

.fa-bag-shopping, 
.fa-bell,
.fa-user,
.fa-magnifying-glass {
    float: right;
    font-size: 20px;
    padding:0 12px;
    color: var(--icon-color);
}

.fa-bag-shopping:hover, 
.fa-bell:hover,
.fa-user:hover,
.fa-magnifying-glass:hover{
    color: var(--main-color);
}
/* ---Store */
.fa-chevron-down{
    font-size: 14px;
    padding: 0 0 0 40px;
    margin-left: -40px;
    transition: 0.25s ease;
}
.store-more{
     position: absolute;
     background-color: rgb(255, 255, 255);
     width: 200px;
     height: 166px;
     border: 1px solid rgb(0, 0, 0);
     margin: 32px 0 0 -180px;  
     animation: Store-showMore ease 0.25s;
     display: none;
     will-change: transform;
     border-radius: 5px;
}

@keyframes Store-showMore {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.store-list{
    text-align:left;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.store-item{
    padding: 12px 15px;
    font-size: 17px;
    font-weight: 100;
}

.store-item:hover{
    background-color: rgb(200, 200, 200);
    font-weight: 600;
    transition: 0.15s ease;
}

.store-more::before{
    position: absolute;
    content: "";
    border: 20px solid;
    right: 5px;
    top: -40px;
    border-color: transparent transparent var(--icon-color) transparent;
}

.store-more::after{
    position: absolute;
    content: "";
    display: block;
    width: 70px;
    height: 45px;
    top: -45px;
    right: 0;
}

.store-show:hover .store-more{
    display: block;
}
/* ---Notifi */
.notifi {
    position: absolute; 
    width: 350px;
    background-color: blanchedalmond;
    margin-left: -315px;
    margin-top: 32px;
    border: 1px solid rgb(0, 0, 0);
    animation: Notifi-show ease 0.25s;
    transform-origin: calc(100% - 10px) top;
    display: none;
    will-change: transform;
    border-radius: 5px;
} 

.notifi-show:hover .notifi{
    display: block;
}

@keyframes Notifi-show{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.notifi::before{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--icon-color) transparent;
    right: 5px;
    top: -40px;
}

.notifi::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    width: 80px;
    height: 40px;
}


.notifi-header {
    background-color: rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
    height: 40px;
}

.notifi-header p{
    margin: 0;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.notifi-list {
    text-align:left;
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.notifi-item {
    display: flex;
    position: relative;
}

.notifi-link {
    display: flex;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: 'Exo 2', sans-serif;
    margin-top: 20px;
}

.notifi-item:hover{
    background-color:rgb(230, 219, 219);
    transition: 0.2s ease;
}

.notifi-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.notifi-info {
    padding-left: 10px;
    line-height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.notifi-name {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.notifi-descripe {
    font-size: 12px;
    color: var(--blackBackgroud-color);
}


.notifi-all {
    margin-top: -17px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    text-align: center;
    border-radius:0 0 5px 5px;
}

.notifi-all > p{
    font-size: 17px;
    line-height: 40px;
    font-family: 'Exo 2', sans-serif;
}

.notifi-line{
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    bottom: -10px;
    left: 20%;
}

/* --Modal  */
.modal-overlay{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
}

.modal-body{
    position: relative;
    width: 450px;
    height: 450px;
    margin: 250px auto;
    background-color: white;
    border: 1px  solid black;
    border-radius: 5px;
    --grow-from: 0.7;
    --grow-to: 1;
    animation: GrowZoom 0.25s linear;
}

/* --SignIn */
.modal-item-signIn{
    padding: 30px 35px;
    display: none;
}

.auth-forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.switch-btn-signin{
    font-size: 19px;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 1;
    cursor: pointer;
}

/* --Sign */

.form-group{
    margin-top: 15px;
}

.form-input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: solid 1px rgba(0, 0, 0, 0.35);
}

/* --text more */
.form-more{
    display: flex;
}

.form-more>p{
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

/* --form control */
.form-control{
    margin: 20px 0 0 0;
    /* float: right; */
}

.form-btn{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    margin: 0 0 17px 10px;
    float: right;
}

.form-btn-sent{
    background-color: var(--main-color);
    color: white;
}

/* --form link */
.form-social{
    display: flex;
    width: 100%;
    height:50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.form-link{
    width: 140px;
    text-decoration: none;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 0.5px;
}

.form-link-facebook{
    background-color: rgb(12, 113, 255);
    color: white;
    margin-left: 60px;
}

.fa-facebook{
    padding: 0 10px 0 0;
}

.form-link-google{
    background-color: white;
    color: var(--blackBackgroud-color);
    margin-right: 60px;
}

.fa-google{
    padding: 0 15px 0 0;
}

/* --SignUp */
.modal-item-signUp{
    padding: 30px 35px;
}

.auth-forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}

.switch-btn-signup{
    font-size: 19px;
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 1;
    cursor: pointer;
}

/* --Sign*/

.form-group{
    margin-top: 15px;
}

.form-input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: solid 1px rgba(0, 0, 0, 0.35);
}

.form-check{
    padding: 18px 0;
}

#forgot-pw{
    color: var(--main-color);
    padding-left: 3px;
}

#forgot-pw:hover{
    color: #ff0000;
    font-weight: 600;
}
/* --text more */
.form-more-signIn{
    display: flex;
}

.form-more-signIn>p{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
}

.show{
    display: block;
}

.off{
    display: none;
}

/* --Search */
.search{
    display: none;
}

.search-fa-magnifying-glass:hover .search{
    display: block;
}

.search-form::before{
    content: "";
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--icon-color) transparent;
    right: 5px;
    top: -40px;
}

.search-form::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    width: 80px;
    height: 40px;
}

.search-form{
    width: 280px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
    margin: 31px 0 0 -240px;
    border-radius: 5px;
    border: black solid 1px;
    display: flex;
    align-items: center;   
    justify-content: center;
    animation: GrowZoom ease 0.25s;
    --grow-from: 0;
    --grow-to: 1;
    transform-origin: calc(100% - 10px) top;
}

.search-form-item {
    display: flex;
    height: 40px;
    width: 180px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}

.icon-search{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    float: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-search>.fa-magnifying-glass {
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 0;
    margin: auto;
}

/* ---Content----- */
.slide:hover .button-slide{
    display: block;
    transition: 0.5s linear;
    opacity: 1;
}

.interface-img{
    display: none;
    transition: opacity 1.5s;
    opacity: 0;
}

.interface-img.active {
    display: block;
    opacity: 1;
  }

.img-background{
    width: 100%;
    margin: 2px 0 0 0;
}

.button-slide{
    position: absolute;
    margin-top: -280px;
    color: var(--main-color);
    font-size: 30px;
    display: none;
    opacity: 0;
    display: flex;
}

.button-slide>.fa-chevron-left{
    margin-left: 20px;
}

.button-slide>.fa-chevron-right{
    right: 0;
    margin-left: 1620px;
}

/* --Intro */
.intro{
    display: flex;
    align-items: center;
    background-color: #9BCDD2;
    margin: -20px 0 0 0;
    height: 440px;
}

.intro-logo{
    margin-left: 24%;
    margin-right: 40px;
    
}


/* .intro-logo:hover .intro-logo-item-none{
    opacity: 1;
    transition: linear 0.2s;
}

.intro-logo-item-none{
   width: 250px;
   position: absolute;
   margin-left: -250px;
   opacity: 0;
} */

.intro-logo-item{
    width: 250px;
    height: 250px;
    opacity: 1;
}

.intro-text-item{
    list-style: none;
    padding: 17px;
}

.intro-text-since{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    letter-spacing: 1px;
}

.intro-text-store{
    font-weight: bolder;
    font-size: 35px;
}

.intro-text-intro{
    width: 700px;
    line-height: 25px;
}

.intro-text-about{
    font-weight: bold;
    letter-spacing: 0.5px;
}
.intro-text-about > .fa-arrow-right{
    margin: 0 0 0 7px;
    font-size: 13px;
}

.intro-text-about:hover .fa-arrow-right, .intro-text-about:hover{
    color: var(--main-color);
    transition: ease 0.35s;
}

@keyframes ColorRun {
    0%{
        width: 0px;
    }
    100%{
        width: 100%;
    }
}

/* --Product */
.product{
    background-color: white;
    height: 1000px;
    display: flex;
}

.product-list{
    margin: 0 auto;
}
.product-list>p{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
}

.product-bar{
    display: flex;
    list-style: none;
    margin-top: 50px;
    justify-content: center;
    cursor: pointer;
}

.product-item{
    padding: 0 10px;
    font-size: 17px;
    opacity: 0.7;
    letter-spacing: 0.5px;
}

.product-item.active{
    opacity: 1;
    font-weight: 600;
}

.product-item-line::after{
    content: "";
    height: 15px;
    width: 1px;
    background-color: var(--icon-color);
    display: block;
    float: right;
    margin-left: 20px;
    margin-top: 1px;
    opacity: 0.3;
}

.product-content{
    display: none;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
}

.product-content.active{
    display: block;
}

.content-list-all{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 50px;
    row-gap: 100px;
}

.content-list{
    position: relative;
}

.content-list>img{
    height: 375px;
    width: 250px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.circle-color{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.circle-color-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 2px;
}

.circle-color-item.selected{
    border: 2px solid rgb(255, 0, 0);
}

.product-text{
    text-align: center; 
}
.product-text>p:nth-child(2){
    font-weight: 700;
}

.see-more{
    text-align: center;
    margin-top: 70px;
}

.see-more:hover{
    font-weight: 700;
    transition: 0.35s linear;
}

.see-more > .see-more-text{
    font-size: 20px;
}

.see-more-text> .fa-arrow-right{
    font-size: 15px;
    margin: 13px;
}

/* --policy */
.policy{
    background-color: #9BCDD2;
    height: 350px;
    margin-top: 480px;
    display: flex;
    color: rgb(0, 0, 0);
}

.policy-list{
    display: flex;
    margin: auto;
    column-gap: 100px;
    
}

.policy-list-item {
    text-align: center;
}

.policy-list-item > #Layer_1{
    width: 50px;
    height: 50px;
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(101%); */
}

.policy-list-item > #Capa_1{
    width: 50px;
    height: 50px;
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(101%); */
}
  

.policy-list-item > #Layer_2{
    width: 50px;
    height: 50px;
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(101%); */
}

.policy-text:nth-child(2){
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.policy-text:nth-child(3){
    width: 310px;
    line-height: 25px;
}


.policy-btn {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    margin-top: 20px;
    cursor: pointer;
}

/* ---Sale */
.sale{
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    flex-direction: row;
}

.sale-list{
    flex: 1;
    background-color: var(--main-color);
    /* height: 100vh; */
    position: relative; 
    z-index: 10;
}

.sale-item{
    height: 100%;
}
.sale-item-store{
    width: 50vw;
    filter: grayscale(90%);
}

.sale-item-store:hover{
    filter: none;
    transition: 0.35s ease;
}

.sale-item-modal{
    position: absolute;
    width: 340px;
    height: 500px; 
    /* margin-top: -85px;  */
    bottom: 0;
    right: 27vw;
}

.sale-item-logo{
    filter: brightness(0) saturate(100%) invert(36%) sepia(96%) saturate(3373%) hue-rotate(357deg) brightness(93%) contrast(96%);
    width: 300px;
    height: 300px;
    position: absolute;
    right: 8vw;
    opacity: 0.65;
    top: 3vw;
}

/* .sale-list:hover .sale-item-modal{
    right: 0;
    transition: right 1s ease;
}

.sale-list:hover .sale-item-logo{
    opacity: 0;
    transition: 0.5s ease;
}

.sale-list:hover .sale-text{
    opacity: 0;
    transition: 0.5s ease;
} */

.sale-text{
    margin: 100px 0 0 420px;
    position: relative;
    z-index: 3;
    letter-spacing: 0.2px;
}
.dress-text-1{
    font-size: 25px;
    margin-top: 30px;
    font-weight: bold;
    /* color: white; */
}

.dress-icon-sale{
    width: 60px;
}

.sale-more-list{
    opacity: 0;
}

.sale-more {
    width: 22vw;
    position: absolute;
    height: 0;
    border-bottom: 420px solid #dffbfe;
    transform: rotate(180deg);
    border-left: 60px solid transparent;
    left: 0px; /* Đặt vị trí tương đối từ bên trái */
    top: 0px; /* Đặt vị trí tương đối từ trên cùng */
}

.sale-more-line{
    position: absolute;
    width: 19vw;
    height: 360px;
    clip-path: polygon(0 0, 99% 0, 84.5% 100%, 0% 100%);
    background-color: #dffbfe;
    border: rgb(0, 0, 0, 0.5) solid 5px;
    border-right-color: transparent;
    transform: rotate(180deg);
    z-index: -1;
    margin: 1.5vw 0 0 -3.1575vw;
}

.sale-more-bg {
    width: 27vw;
    position: absolute;
    border-bottom: 300px solid #9BCDD2;
    transform: rotate(180deg);
    border-left: 45px solid transparent;
    left: 0; 
    top: 3.2vw; 
}
